<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}} | Chat</title>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="grid-frame">
        <div id="sidebar" class="grid-block small-4 collapse vertical">
            <div class="grid-content collapse shrink">
                <a href="/"><h1 class="text-center">CHAT</h1></a>
            </div>
            <div class="grid-content collapse shrink">
                <ul class="menu-bar">
                    <li><a href="/register">Register</a></li>
                    {{#if isAuthenticated}}
                        <li><a href="/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
            <div class="grid-content">
                <section class="block-list">
                    <header>Users</header>
                    <ul>
                        <li>
                            <a href="#">
                                {{username}}
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="grid-content collapse shrink avatar-section">
                {{#if isAuthenticated}}
                    <img src="http://placehold.it/50x50">
                {{/if}}
                {{username}}
            </div>
        </div>
        <div class="grid-block small-8 collapse vertical">
            {{{content}}}
        </div>
    </div>
</body>
</html>